{% extends 'base.html.twig' %}

{% block title %}Edit Formateur{% endblock %}

{% block body %}
   <div style="margin-left:35%;margin-top:20px;margin-bottom:20px"> <h1>Modifier Formateur</h1></div>
<div style="margin-left:400px">
    {{ include('formateur/_form.html.twig', {'button_label': 'Update'}) }}

   <button type="button" class="btn btn-success">  <a href="{{ path('app_formateur_index') }}">Retour</a></button>

    
{% endblock %}
