{% extends 'base.html.twig' %}

{% block title %}Edit Etudiant{% endblock %}

{% block body %}
   <div style="margin-left:35%;margin-top:20px;margin-bottom:20px"> <h1>Modifier étudiant</h1></div>
<div style="margin-left:400px">
    {{ include('etudiant/_form.html.twig', {'button_label': 'Mise à jour'}) }}

    <button type="button" class="btn btn-success" style="margin-bottom:30px;margin-top:20px"><a href="{{ path('app_etudiant_index') }}">Retour</a></button>

   </div>
{% endblock %}
